<p>admin works!</p>

<!-- X1, simple form -->
<!-- <input type="text" [formControl]="nameControl">
<button (click)="onSend()">Send</button> -->

<form [formGroup]="productForm" style="display: flex; flex-direction: column;">
	<input formControlName="title" type="text">
	<input formControlName="description" type="text">
	<div *ngIf="productForm.get('description').invalid &&
	 			(productForm.get('description').touched ||
	  			productForm.get('description').dirty)" class="alert alert-danger">
		<div *ngIf="productForm.get('description').errors.required">
			Description required
		</div>
		<div *ngIf="productForm.get('description').errors.minlength">
			Description must be at least 10 characters long.
		</div>
		<div *ngIf="productForm.get('description').errors.maxlength">
			Description must not exceed 12 characters.
		</div>
	</div>
	<input formControlName="imageUrl" type="text">
	<input formControlName="ownerId" type="text">
	<input formControlName="price" type="text">	
</form>
<button (click)="onSend()">Send</button>



