<h3>Vacunados</h3>
<div *ngFor="let dog of vacunados; let i = index">
  <div [ngStyle]="{'background-color': (dog.edad < 3) ? 'orange' : 'red'}">
    <dog
      [nombre]="dog.nombre"
      [color]="dog.color"
      [edad]="dog.edad">
    </dog>
    </div>
</div>

<h3>No Vacunados</h3>
<div *ngFor="let dog of notVacunados; let i = index">
  <div [ngStyle]="{'background-color': (dog.edad < 3) ? 'orange' : 'red'}">
    <dog
      [nombre]="dog.nombre" 
      [color]="dog.color"
      [edad]="dog.edad">
    </dog>
    <button (click)="vacunar(dog)">Vacunar</button>
  </div>
</div>
<h2 *ngIf="notVacunados.length == 0" [ngStyle]="{'background-color': 'lightgreen'}">TODOS VACUNADOS</h2>