.styleTest {
	border: 1px solid cyan;
	border-radius: 5px;
	font-weight: bold;
	background-color: blue;
	color: lightgreen;
}

.styleTest1 {
	border: 1px solid orange;
	border-radius: 5px;
	font-weight: bold;
	background-color: red;
	color: yellow;
}